ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

 ion-icon {
    color: white;
}

.bgImage {
    --background: rgb(255, 255, 255) url("../../../assets/bg_image_people.jpg") no-repeat center center / cover;
  }

ion-label h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
section {
    padding-bottom: 1em;
    background-color: rgba(0,0,0,0);
} 

  h1{
    color: #ffffff;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgb(51, 51, 51); 
    font-family: 'Comfortaa', cursive;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(51, 51, 51); 
    font-size: 1.55em;
    margin: auto;
    padding: auto;
    font-family: 'Comfortaa', cursive;
    text-transform: capitalize;
    font-weight: bold;
}

h6 {
    color: white;
    text-align: center;
    font-size: 0.80em;
    font-family: 'Comfortaa', cursive;
    margin-top: 3em;
}

span {
    text-decoration: underline;
}
    

.button {
    width: 100%;
}

ion-input {
    border-bottom: 0.14em solid #ffffff;
    color: #ffffff;
    --padding-top: 0.3125em;
    --placeholder-opacity: 0.8;
}