.bgImage {
    --background: rgb(255, 255, 255) url("../../../assets/bg_image_people.jpg") no-repeat center center / cover;
  }

  .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 9em;
}

  h1{
    color: #ffffff;
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgb(51, 51, 51); 
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1.5em;
}

h2 {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(51, 51, 51); 
    font-size: 1.55em;
    margin: auto;
    padding: auto;
    font-family: 'Comfortaa', cursive;
    text-transform: capitalize;
    font-weight: bold;
}

.button {
    margin-top: 5em;
    margin-bottom: 3em;
    --border-radius: 10em;
    --color: var(--ion-color-primary);
}

.input {
    border-bottom: 0.14em solid #ffffff;
    width: 75%;
    color: #E1E4EB
}

.input {
    text-align: left;
    --placeholder-font-weight: bold;
    --placeholder-color: #000000;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}