ion-toolbar {
    font-family: 'Comfortaa', cursive;
}

ion-button {
    color: #0D8FE3;
    text-transform: capitalize;

}

ion-title {
    text-align: center;
    font-size: 1.125em;
    font-weight: bold;
    padding: 0;
    color: #141414;

}

ion-label {
    padding-right: 5px;
}

ion-input h2, ion-item ion-label {
    color: black;
}

ion-fab {
  position: fixed;
}

ion-input {
    color: grey;
}


ion-input h2 {
    margin: 0;
}

ion-item, ion-input, ion-textarea {
    --padding-start: 0;
}

ion-textarea {
    --placeholder-opacity:1;
}

ion-item ion-label, ion-input, ion-textarea {
    font-family: 'Montserrat', sans-serif;
}


ion-fab-button {
    --background: #0D8FE3;
}

ion-input, ion-textarea {
    border-bottom: 0.08em solid #C1C1C1;
}

ion-icon {
    color: white;
}

ion-select {
    --placeholder-opacity: 1;
    color: #0D8FE3;
}
