
//estilização dos comentarios
p {
    margin-right: 1.5em;
    margin-left: 1.5em;
    color: #333333;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}

//estilização name do usuario do comentarios
.username {
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}


//estilização dos textos dos comentarios
.comment {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}
