p {
    margin-right: 1.5em;
    margin-left: 1.5em;
    color: #333333;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}

.username {
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.comment {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.comment-container {
  background: transparent;
  padding: 0;
}

ion-item {
  --background: inherit;
}
