<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="userToken" slot="end" fill="clear" (click) = "redirectNewArticle()">
      <ion-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>InterAct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mod="md" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="0">
      <ion-label class="ion-text-capitalize">Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label class="ion-text-capitalize">Seguindo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides #slides pager="false" [options]="sliderOptions" (ionSlideDidChange)="slideShanged(slides)" (ionSlidesDidLoad)="slideShanged(slides)">
    <ion-slide class="slide">
      <app-article-home *ngFor="let All of postsAll" [All]="All"></app-article-home>
    </ion-slide>
    <ion-slide class="slide">
      <ion-grid *ngIf="!userToken" class="message">
        <ion-row>
          <ion-col>
            <ion-text>Veja seus posts preferidos em uma página exclusiva ao registrar-se no botão abaixo!</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button size="small" (click) = "redirectRegisterPage()">Registrar!</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <app-article-home *ngFor="let Following of postFollowing" [All]="Following"></app-article-home>
    </ion-slide>
  </ion-slides>
</ion-content>
