h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5em;
    text-transform: capitalize;
    margin: auto;
    padding: auto;
}

.bg-image {
    --background: #fff url("../../../assets/bg_image_garden.jpg") no-repeat center center / cover;
}

.logo {
    margin: 1em auto 3em auto;
    display:block;
    max-width: 50%;
}

.button {
    margin: 17em auto auto auto;
    --border-radius: 10em;


    border: solid;
    border-width: 0.125em;
    border-color: white;
    border-radius: 10em;
    width: auto;
    height: 3.125em;
}

.redir {
    display:flex;
    justify-content: center;
    flex-direction: column;
}