


.bg-image {
    --background: #fff url("../../../assets/bg_image_garden.jpg") no-repeat center center / cover;
}

.logo {
    margin: 1em auto 3em auto;
    display:block;
    max-width: 50%;
}

.button {
    margin: 8em auto auto auto;
    --border-radius: 10em;
    --color: var(--ion-color-primary);
}

.redir {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
