<ion-grid>
  <ion-row>
    <ion-col size="small" class="image"><img src="{{All.image}}"></ion-col>
    <ion-col class="padding">
      <h6 class="title">{{All.title}}</h6>
      <p>{{All.subtitle}}</p>
      <ion-row (click) = "redirectArticle(All.id)">
        <h6 class='continue'>Continuar Lendo</h6>
        <ion-icon size="big" name="arrow-forward-outline"></ion-icon>
      </ion-row>
    </ion-col>
    <div class="chips-container" *ngIf="userIsAdmin || userOwnProfile">
      <ion-chip color="light">
        <ion-icon name="settings" color="primary" (click)="redirectEditArticle(All.id)"></ion-icon>
      </ion-chip>
      <ion-chip color="light">
        <ion-icon name="close-circle" color="danger" (click)="destroyArticle(All.id, profile_id)"></ion-icon>
      </ion-chip>
    </div>
    <hr>
  </ion-row>
</ion-grid>