<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row><ion-col><img class="pa" src="{{articleContent.image}}"></ion-col></ion-row>
    <ion-row>
      <h1>{{articleContent.title}}</h1>
    </ion-row>
    <ion-row>
      <ion-col size="small"><img class="userimg" src="../assets/hussein.jpg"></ion-col>
      <ion-col (click)="redirectProfile(userContent.id)" size="small"><h6>{{userContent.name}}</h6></ion-col>
      <ion-col><h6 class="date">{{userContent.date}}</h6></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <p>{{articleContent.text}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="small">
        <ion-button size="small" fill="clear" (click)="actionLike(articleContent.id)">
          <ion-icon color="danger" name={{heartIcon}}></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col><h5 class="likes">{{count}}</h5></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
