<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{articleContent.category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row><ion-col><img class="pa" src="{{articleContent.image}}"></ion-col></ion-row>
    <ion-row>
      <h1>{{articleContent.title}}</h1>
    </ion-row>
    <ion-row>
      <ion-col size="small"><img class="userimg" src="{{article_owner.profile_picture}}"></ion-col>
      <ion-col (click)="redirectProfile(article_owner.id)" size="small"><h6>{{article_owner.name}}</h6></ion-col>
      <ion-col><h6 class="date">{{articleContent.date}}</h6></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <p>{{articleContent.text}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="small">
        <ion-button size="small" fill="clear" (click)="actionLike(articleContent.id)">
          <ion-icon color="danger" name={{heartIcon}}></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col><h5 class="likes">{{count}}</h5></ion-col>
    </ion-row>
  </ion-grid>
  <p class='numofcomments'>{{numOfComments}} comentários</p>
  <app-comment *ngFor='let comment of articleComments' [comment]="comment"></app-comment>
  <ion-row  class="comment-input-container">
    <ion-col>
      <img  class="loggedUserImg" src="{{loggedUser.profile_picture}}" alt="Minha Figura">
    </ion-col>
    <ion-col *ngIf='userToken'>
      <form [formGroup]="commentForm" (ngSubmit) = "postCommentOnArticle(article_id, commentForm)">
        <ion-textarea rows="1" type="text" placeholder="Adicionar um comentário..." formControlName="commentary"></ion-textarea>
      </form>
    </ion-col>
    <ion-col *ngIf='userToken'>
      <form [formGroup] = "commentForm" (ngSubmit) = "postCommentOnArticle(article_id, commentForm)">
        <ion-button type="submit" size="small" fill="clear">
          <ion-icon name="send" color="secondary"></ion-icon>
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
