ion-back-button, ion-title {
    color: #0D8FE3;
}

/* .pa {
    object-fit: cover;
    width: 100%;
    max-height: 30%;

} */

ion-grid, ion-row, ion-col {
    padding: 0;
}

ion-title, h1 {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 2.0em;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

.userimg {
    width: 2.25em;
    height: 2.25em;
    border-radius: 1.25em;
    object-fit: cover;
    margin-left: 1.4em;
    margin-right: 0.8em;
}

.loggedUserImg {
    width: 2.25em;
    height: 2.25em;
    border-radius: 1.25em;
    object-fit: cover;
    margin-left: 1.4em;
    margin-top: 0.6em;
    /*margin-right: 1em;
    margin-bottom: 0.5em; */
}

h6 {
    font-size: 0.96em;
    font-weight: normal;
    margin-top: 0.8em;
}

.date {
    padding-left: 2em;
    color: #939393;
}

p {
    margin-right: 1.5em;
    margin-left: 1.5em;
    color: #333333;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
}

ion-button {
    margin-left: 0.9em;
    color:#333333; ;

}

ion-icon {
    font-size: 1.5em;
}

.likes {
    margin-top: 0.7em;
    margin-bottom: 0;
    color: #333333;
    font-weight: bold;
    font-size: 0.875em;
}

.username {
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.comment {
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.numofcomments {
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

.addcomment {
    display: flex;
    align-items: center;
}

.sendcomment{
    margin-top: 10px;
}

ion-textarea{
    width: 63vw;
    padding: 0.2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gray;
}

form, ion-item {
    width: 100%;
}

.comment-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;

  ion-button {
    right: 0;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.5em;
  }
}
