<ion-content>
  <img class='logo' src="../../../assets/logo_text.png">
  <div class="redirect-home-button">
    <ion-button (click)='homeRedirect()' class='button' color='secondary'><h1>Começar</h1></ion-button>
  </div>
  <ion-slides pager="true">
    <ion-slide class="slide_1">
      <div class="slogan-container">
        <h1>Seja bem-vindx!</h1>
        <h2>InterAct é uma rede social com foco na saúde mental, feito para estimular uma mente mais ativa e produtiva.</h2>
      </div>
    </ion-slide>
    <ion-slide class="slide_2">
      <div class="slogan-container">
        <h1>Aprenda algo novo!</h1>
        <h2>InterAct é um aplicativo feito para compartilhar os seus hobbies e desenvolver novas paixões.</h2>
      </div>
    </ion-slide>
    <ion-slide class="slide_3">
      <div class="slogan-container">
        <h1>Mostre seu novo dom!</h1>
        <h2>Você não vai ficar fora dessa, né? Entre e veja o que estão criando!</h2>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
