<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click) = "redirectHome()">
        Fechar
      </ion-button>
    </ion-buttons>
  
      <ion-buttons slot="end">
        <form [formGroup]="newArticleForm" (ngSubmit)="submitForm(newArticleForm)">
          <ion-button type="submit">
            Postar
          </ion-button>
        </form>
      </ion-buttons>
    
    

    <ion-title>Novo Artigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <form [formGroup]="newArticleForm" (ngSubmit)="submitForm(newArticleForm)">
      
     <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button>
            <ion-icon name="camera-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="images-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

      <ion-list>
          
        
          <!-- <ion-label size="small" position="fixed">Título:</ion-label> -->
          <ion-input placeholder="Título:" type="text-area" formControlName="title"></ion-input>
          <ion-input placeholder="Subtítulo:" type="text" formControlName="subtitle"></ion-input>
          
          <!-- <ion-label position="floating">Descrição:</ion-label> -->
          <ion-textarea rows="1" placeholder="Descrição:" autoGrow="true" type="text" formControlName="description"></ion-textarea>
          <ion-item>
            <ion-label color="medium">Categoria:</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Escolher" cancel-text="Cancelar">
              <ion-select-option value="red">Arte</ion-select-option>
              <ion-select-option value="purple">Atividade física</ion-select-option>
              <ion-select-option value="yellow">Comida</ion-select-option>
              <ion-select-option value="orange">Viagem</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-list>
    </form>

  </div>
</ion-content>
