<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click) = "redirectHome()">
        Fechar
      </ion-button>
    </ion-buttons>
  
      <ion-buttons slot="end">
        <form [formGroup]="newArticleForm" (ngSubmit)="submitForm(newArticleForm)">
          <ion-button type="submit" [disabled]="newArticleForm.invalid">
            Postar
          </ion-button>
        </form>
      </ion-buttons>
    
    

    <ion-title>Novo Artigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <form [formGroup]="newArticleForm" (ngSubmit)="submitForm(newArticleForm)">
      
     <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button>
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button >
            <ion-icon name="images-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>

      <ion-list>
          

          <ion-input placeholder=" (5 a 57 caracteres)" type="text-area" formControlName="title">
            <ion-label><h2>Título:</h2></ion-label>
          </ion-input>
          <ion-input placeholder=" (12 a 84 caracteres)" type="text" formControlName="subtitle">
            <ion-label><h2>Subtítulo:</h2></ion-label>
          </ion-input>
          <ion-textarea placeholder ="Descrição:" rows="1" autoGrow="true" type="text" formControlName="text"></ion-textarea>
          <ion-item>
            <ion-label>Categoria:</ion-label>
            <ion-select formControlName="category" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Escolher" cancel-text="Cancelar">
              <ion-select-option value="Arte">Arte</ion-select-option>
              <ion-select-option value="Atividade física">Atividade física</ion-select-option>
              <ion-select-option value="Comida">Comida</ion-select-option>
              <ion-select-option value="Viagem">Viagem</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-list>
      <img  [src]="photo" vertical="center" horizontal="center">
    </form>
    

  </div>
</ion-content>
