<ion-content>
  <section class='profile'>
    <img class='profile-pic' src = "{{userData.profile_picture}}">
    <ion-button *ngIf="userToken" class='follow' (click)='actionFollow(this.profile_id)'>{{followText}}</ion-button>
  </section>

<section class='card'>
  <ion-card>
    <h1>{{userData.name}}</h1>
    <h2>{{userData.description}}</h2>
    <section class='followinfo'>
      <section class='followers'>
        <h3>Seguidores</h3>
        <h4>{{userData.follower_count}}</h4>
      </section>
      <section class='following'> 
        <h3>Seguindo</h3>
        <h4>{{userData.following_count}}</h4>
      </section>
    </section>
    <section>
      <app-article-profile *ngFor="let All of postsAll" [All]="All"></app-article-profile>
    </section>
  </ion-card>
</section>


</ion-content>
