<ion-content>

  <section class='profile'>
    <img class='profile-pic' src = '../../../assets/hussein.jpg'>
    <ion-button class='follow' (click)='toggleFollow()'>{{followText}}</ion-button>
  </section>

<section class='card'>
  <ion-card>
    <h1>Hussein Latif</h1>
    <h2>Não deixe para amanhã o que você pode comer hoje! Cozinhe comigo e seja feliz!</h2>
    <section class='followinfo'>
      <section class='followers'>
        <h3>Seguidores</h3>
        <h4>356</h4>
      </section>
      <section class='following'> 
        <h3>Seguindo</h3>
        <h4>98</h4>
      </section>
    </section>
    <section class='articles'>
      <ion-grid>
        <ion-row *ngFor="let All of postsAll">
          <ion-col size="small" class="image"><img src="{{All.image}}"></ion-col>
          <ion-col>
            <h6 class="title">{{All.title}}</h6>
            <p>{{All.subtitle}}</p>
            <ion-row (click) = "redirectArticle()">
              <h6 class='continue'>Continuar Lendo</h6>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-row>
          </ion-col>
          <hr>
        </ion-row>
      </ion-grid>
    </section>
  </ion-card>
</section>


</ion-content>
